body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #ff4d4d;
    padding: 20px;
    color: white;
    font-size: 24px;
}

#content {
    padding: 20px;
}

#heartImage {
    width: 300px;
    height: auto;
}

#button {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#button:hover {
    background-color: #cc0000;
}
